/* FEATURED PROJECTS */
.projects {
  position: relative;
  /* border:1px solid #1d8cf8; */
  grid-column: 1/-1 ;
  grid-row: 2/3 ;
  display: grid;
  grid-template-rows: 10vh 8vh 7vh 42vh 42vh 7vh 42vh;
  grid-template-columns: 1fr 1fr;
}

.projects-header {
  grid-column: 1/-1;
  padding: 1rem;
  line-height: 1.2;
  letter-spacing: 1.1px;
}

/* dashboards */
.projects__dashboard {
  display: flex;
  justify-content: space-evenly;
  /* border:1px solid #1d8cf8; */
}

.dashboard {
  width: 20rem;
  height: 3rem;
  text-align: center;
  background-color: #1f2251;
  /* border:1px solid #1d8cf8; */
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .11rem;
  border-radius: 10rem;
  padding: .5rem 1rem;
}

.project-container {
  display: flex;
  justify-content: center;
  /* border:1px solid #1d8cf8; */
  
}

.project-content {
  display: flex;
  height: 20rem;
  width: 52rem;
  border-radius: 1rem;
  background-color: #1f2251;
  overflow: hidden;
  /* border:1px solid #1d8cf8; */
  z-index: 3;
  backface-visibility: hidden;
}

.project-content:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 1rem rgba(29, 139, 248, 0.74);
  transition: all 0.2s linear;
}

.project-image {
  height: 20rem;
  width: 20rem;
  z-index: 50;
}

.project-description {
  display: flex;
  flex-direction: column;
  /* border:1px solid #1d8cf8; */
  transition: all 0.35s ease-in;
  padding: .8rem .5rem;
  width: 32rem;
  transform: translateY(3rem);
} 

.project-description-title {
  font-weight: 600;
  font-size: 2rem;
  padding: .5rem .5rem;
}

.project-description-definition {
  padding: .5rem .5rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: .08rem;
}

/* margin-overiding */
.project-content-left {
  margin-left: 5rem;
}

.project-content-right {
  margin-right: 5rem;
}

.subheader-featured {
  margin-left: 11rem;
  font-size: 1.8rem;
}

.project-nav-btn {
  display: flex;
  gap: 1.3rem;
  margin-top: 1.2rem;
  margin-left: 1rem;
  transform: translate(-22rem, -2rem);
  transition: all 0.35s ease-in;
  opacity: 0;
}

.project-btn {
  font-size: 1.4rem;
  padding: .8rem 1.2rem;
  border-radius: 10rem;
  border: .1rem solid #1d8cf8;
  color: #1d8cf8;
  background: transparent;
}

.project-content:hover .project-nav-btn {
  transform: translateX(.2rem);
  opacity: 1;
} 

.project-content:hover .project-description {
  transform: translateY(.7rem);
  
} 


/* SKILLS */
.skills {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 8vh 5vh 1fr;
  grid-template-columns: 1fr 1fr;
  /* border:1px solid #1d8cf8; */
  z-index: 50;
}

.skills-frontend-header {
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  /* border:1px solid #1d8cf8; */
}

.skills-frontend-list {
  grid-column: 1/2;
  grid-row: 3/4;
  /* border:1px solid #1d8cf8; */
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 10rem;
  /* font styles */
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: .15rem;
}

.skills-backend-header {
  text-align: center;
  grid-column: 2/-1;
  grid-row: 2/3;
  /* border:1px solid #1d8cf8; */
}

.skills-backend-list {
  grid-column: 2/-1;
  grid-row: 3/4;
  /* border:1px solid #1d8cf8; */
  margin-left: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.skill-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center; /* Optional */
}

.skill-set {
  display: flex;
  align-items: center;
  padding: .4rem .5rem;
  gap: .64rem;
/* font styles */
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: .15rem;
}

.logos-image {
  height: 4rem;
  width: 4rem;
}




/* BLOG */
.blog {
  grid-column: 1/-1;
  grid-row: 4/5;
  display: flex;
  /* border:1px solid #1d8cf8; */
  justify-content: space-evenly;
  position: relative;
}

.blog-title {
  position: absolute;
  top: -3.2rem;
  left: 63.3rem;
}

.blog-card {
  position: relative;
  width: 30.3rem;
  height: 38rem;
  /* border:1px solid #1d8cf8; */
  margin-top: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color:#1f2251 ;
  backface-visibility: hidden;
  z-index: 50;
}

.blog-card:hover {
  cursor: pointer;
  transform: translateY(-.6rem) scale(1.01);
  transition: all 0.2s linear;
}

.blog-card-image {
  height: 20rem;
  width: 30.4rem;
}

.btn-blog {
  position: absolute;
  top: 43.6rem;
  left: 60.2rem;
  backface-visibility: hidden;
}

.blog-card-content {
  padding: 1.2rem .8rem;
}

.blog-card-floater {
  font-size: 2.5rem;
  font-weight: 700;
  color: #e7e7e7;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.blog-card:hover .blog-card-floater {
  opacity: 1;
  top: 25% ;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

.blog-card:hover  .blog-card-image {
  filter: blur(.3rem) brightness(80%);
}

.image-container {
  overflow: hidden; /* optional */
}

.blog-card-date {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.blog-card-title {
  padding-top: .7rem;
  padding-bottom: 1.2rem;
}


.blog-card-definition {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.08rem;
}

/* bottom squares */
.square-8 {
  height: 18rem;
  width: 18rem;
  opacity: 0.4;
  left: 4%;
  bottom: 88%;
  animation: shake 5s infinite;
}

.square-9 {
  height: 10rem;
  width: 10rem;
  opacity: 0.9;
  left: 3%;
  top: 70%;
  animation: shake 9s infinite;
}

.square-10 {
  height: 23rem;
  width: 23rem;
  opacity: 0.1;
  left: 33%;
  bottom: 42%;
  animation: shake 6s infinite;
}

.square-11 {
  height: 27rem;
  width: 27rem;
  opacity: 0.1;
  right: 1%;
  bottom: -10%;
  animation: shake 4s infinite;
}

